<% include ./includes/header %>

	<main>
	    <div class="jumbotron">
	        <h2>Node js</h2>
	        <h3>Tools used:</h3>
	        <table>
			  <tr>
			    <th>Name</th>
			    <th>Tool</th>
			  </tr>
			  <tr>
			    <td>Language Used</td>
			    <td>Node js</td>
			  </tr>
			  <tr>
			    <td>Framework</td>
			    <td>Express js</td>
			  </tr>
			  <tr>
			    <td>Database</td>
			    <td>MongoDb</td>
			  </tr>
			  <tr>
			    <td>Authentication</td>
			    <td>JWT</td>
			  </tr>
			</table>
	    </div>
	</main>

<% include ./includes/footer %>